.showcasebox {
    .elementor-widget-container{
        min-height: 300px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        // color: black;
        }
}

